@{
    ViewData["Title"] = "Contact Us";
}

<h2>Liên hệ với chúng tôi</h2>

<h4>
    Nếu bạn có câu hỏi nào về SeggsShop thì bấm link bên dưới để liên hệ với chúng tôi
</h4>

<address>
    <strong>Hỗ trợ> <a href="mailto:Admin@default.com">Admin@default.com</a><br />
    <strong>Quảng cáo> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
